body {
  margin:0;
  padding:0;
}

.card {
  width: 90%;
  border: 1px grey solid;
  border-radius: 3px;
  margin: 1rem auto;
}

.card__header {
  font-size: 2rem;
  color: black;
  padding: 5px;
}

.card__body {
  font-size: 1rem;
  color: grey;
  padding: 1rem;
}

.card__image {
  background: url('assets/img/parrot.jpg');
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
}
